@media screen and (max-width: 480px) {

    .all {
        // display: block;
        flex-direction: column;
    }

    .col-1 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-2 {
        flex-basis: 100%;
        max-width: 100%;
    }

}
