/* line 3, ../sass/naslov.scss */
.naslov {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: #808080;
  font-size: 0px;
  margin-bottom: 5px;
}

/* line 13, ../sass/naslov.scss */
h3::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 14px;
  height: 15px;
  background-color: #808080;
  transform: skew(-30deg);
  right: -10px;
}

/* line 26, ../sass/naslov.scss */
h3::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 14px;
  height: 15px;
  background-color: #808080;
  transform: skew(-30deg);
  right: 10px;
  z-index: -1;
}

/* line 38, ../sass/naslov.scss */
h3 {
  /*max-width: 100%;*/
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  /*overflow: hidden;*/
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #ccd8dc;
  padding: 0px;
  margin: 0px;
  height: 15px;
  font-size: 13px;
  margin-left: 13px;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  display: inline-block;
  background-color: #808080;
}
